{%extends "base.html"%}
{% block start %}
<div class="container mt-5">
    <!-- enctype multipart/form data -->
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
          <input type="text" name="name" class="form-control" required >
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Receipe Discription</label>
          <textarea class="form-control" name="description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
            <input type="file" name="image" class="form-control" >
        </div>
        
        <button type="submit" class="btn btn-primary btn-success">Add Receipe</button>
      </form>
</div>
<hr>
<div class="mt-5">
  <div class="mx-auto col-6">
    <!-- if we do not pass ant method like post,get browser will automatically understand it is get method -->
    <form >
    <div>
    <label for="exampleInputEmail1" class="form-label">Search Receipe</label>
    <input type="text" name="search" class="form-control" >
  </div>  
  <button type="submit" class="btn btn-primary">Search</button>
</form>
  </div>
</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Receipe Name</th>
      <th scope="col">Receipe Description</th>
      <th scope="col">Receipe Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for receipe in receipes %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{receipe.name}}</td>
      <td>{{receipe.description}}</td>
      <td>
        <img src="/media/{{receipe.image}}" style="height: 200px;">
      </td>
      <td>
        <a href="/delete_rep/{{receipe.id}}" class="btn btn-danger m-2">delete</a>
        <a href="/update_rep/{{receipe.id}}" class="btn btn-success">Update</a>
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

{% endblock %}